# Contents
## Importing libraries and data (orders_products_combined.pkl)
### &emsp; Checking the shape of orders_products_combined.pkl
## Merging orders_products_combined.pkl with products_checked.csv
## Confirming results of merger
## Exporting as orders_products_merged.pkl

# Getting started

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Turning project folder into a string
path = r'C:\Users\davau\OneDrive - College of the Sequoias\Career Foundry\Data Immersion\Achievement 4 (Python)\Instacart Basket Analysis'

# Step 3

In [3]:
# Importing orders_products_combined.pkl
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods_comb.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

# Step 4

In [5]:
# Checking the shape of the dataframe
df_ords_prods_comb.shape

(32434489, 12)

Yep, this is the same as what I exported.

# Step 5 (merge this df with the products df)

## Importing products_checked.csv

In [6]:
# Importing the latest version of the products df
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods_checked.shape

(49672, 6)

## Cleaning up the dfs before merger

Before merging the dfs, I want to clean them up.  I'm going to drop the Unnamed columns from both, and I'm going to drop the '_merge' column from df_ords_prods_comb.

In [9]:
# Dropping columns from df_ords_prods_comb
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['Unnamed: 0', '_merge'])

In [10]:
df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [11]:
# Dropping the Unnamed column from df_prods_checked.
df_prods_checked = df_prods_checked.drop(columns = ['Unnamed: 0'])

In [12]:
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## Merging the dfs

I will use a merge on product_id, as it's the column the two df's have in common.

In [13]:
# Merging the dfs on 'product_id'
df_merged_large = df_ords_prods_comb.merge(df_prods_checked, on = 'product_id', indicator = True)

In [14]:
 df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

# Step 6

In [15]:
# Confirming the results of the merge using the merge flag
df_merged_large['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
df_merged_large.shape

(32404859, 15)

# Step 7

In [17]:
# Exporting df_merged_large as orders_products_merged.pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))