# Contents
## Importing data and libraries
## Consistency Checks
### &emsp; Mixed Values
### &emsp; Missing Data
### &emsp; Duplicates
## Wrangling Steps
### &emsp; Checking columns names
### &emsp; Checking data types

# Importing

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Turning project folder into a string
path = r'C:\Users\Britney\OneDrive - College of the Sequoias\Career Foundry\Data Immersion\Achievement 4 (Python)\Instacart Basket Analysis'

In [4]:
#Importing orders_products_prior.csv (in full)
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [5]:
df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df.tail()

          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [9]:
df.shape

(32434489, 4)

# Consistency Checks

In [10]:
# Checking df for columns with mixed data

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

No columns with mix data

In [11]:
# Checking for missing values

df.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

No missing values

In [12]:
# Checking for full duplicates

df_dups = df[df.duplicated()]

In [13]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

No duplicates

# Wrangling Steps

No need to drop or rename any columns.  Let's see if I need to change any data types.

In [17]:
# Checking data type of 'order_id', 'product_id', and 'reordered'

df['order_id'].dtype

dtype('int64')

In [19]:
df['product_id'].dtype

dtype('int64')

In [20]:
df['reordered'].dtype

dtype('int64')

Ok, so I could change the variable types on all these to strings for optimization purposes (so that they are not calculated in things like describe()).  However, we were never instructed to do this, and I've already merged the original orders_products_prior.csv with orders.csv, so I'm not going to do this now.  I can do this in the merged file, if necessary.